body{
  padding: 0;
  margin: 0;
  /* height: 2000px; */
  background-color: #feeae2;
  font-family: 'Oswald', sans-serif;
}
h1{
  margin: 0;
  padding: 0;
}
p,h2,h3{
  color: #323131;
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  position: fixed;
  padding-top: 20px;
  z-index: 100;
}
header ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  align-items: center;
}
header li{
  list-style-type: none;
}
.btn a{
  padding: 12px 37px;
  background-color: #2f6061;
  color: #feeae2;
}
.btn a:hover{
  // h-length, v-length, blur, spread, colour
  box-shadow: 0 3px 15px 1px rgba(0, 0, 0, .5);
}
header li a{
  color: #2f6061;
  text-decoration: none;
}
header li a:hover{
  color: #323131;
  text-decoration: none;
  text-shadow: 0 1px 2px #3c3c3c;
}


.row{
  margin: 0;
}
.main{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url(../img/bird.png);
  background-size: 55%;
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.line{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

}
.line1{
  width: 50%;
  height: 70px;
  border-right: 1px solid #feeae2;
}
.line2{
  width: 50%;
  height: 70px;
  border-left: 1px solid #feeae2;
}
.main_content{
  margin: 0;
  padding: 0;width: ;
  width: 100%;
  padding-top: 15%;
  text-align: center;
  color: #fff;
}
.main_content .main_wrapper{
    background-color: rgba(50,49,49,0.7);
    width: 40%;
    display: inline-block;
    width: auto;
    padding: 50px 160px;
}

.main_content h2{
  color: #feeae2;
}
.main_content p{
  color: #feeae2;
}
.main_content h1{
  margin: 0 0 20px 0;
  padding: 0;
  font-family: 'Amatic SC';
  font-size: 110px;

  font-weight: 300;
  color: #feeae2;
}
.main_content h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 40px;
}
.main_content h3{
  font-family: 'Amatic SC';
    color: rgba(254, 234, 226, 0.8);
  font-weight: 500;
  font-size: 30px;
  padding-top: 20px;
}
.main_content p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: light;
}
#CDT {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    font-size: 50px;
      color: #feeae2;
    margin: 20px 20px;
    font-weight: bold;
}

#CDT .number-wrapper {
    margin: 15px;
    /* -moz-box-shadow: 0 5px 8px #000000;
    -webkit-box-shadow: 0 5px 8px #000000;
    box-shadow: 0 5px 8px #000000; */
    position: relative;
    width: 9%;
}
#CDT .caption{
  font-size: 20px;
}
#CDT .number {
    color: #fff;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #fff;
    background-image: linear-gradient(bottom, #fff 2%, #323131 50%, #fff 100%);
    background-image: -o-linear-gradient(bottom, #fff 2%, #323131 50%, #fff 100%);
    background-image: -moz-linear-gradient(bottom, #fff 2%, #323131 50%, #fff 100%);
    background-image: -webkit-linear-gradient(bottom, #fff 2%, #323131 50%, #fff 100%);
    background-image: -ms-linear-gradient(bottom, #fff 2%, #323131 50%, #fff 100%);
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 20px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    -moz-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -moz-text-shadow: 0 3px 3px #000000;
    -webkit-text-shadow: 0 3px 3px #000000;
    text-shadow: 0 3px 3px #000000;
}

/* #CDT .line {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 52%;
    left: 0;
    background: #000;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2); */

.aboutus{
  color: #2f6061;
  position: relative;
  display: block;
  background-color: #feeae2;
  -webkit-background-size: 50%;
  background-size: 50%;
  background-repeat: repeat;

}
.about{
  padding: 0;
  background-color: rgba(0,0,0,0.5);
}
.aboutus_content{

  width: 100%;
  text-align: center;
}
.aboutus_content ul{
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  font-size: 25px;
  text-align: center;
}
.aboutus_content h3{
  color: #2f6061;
  padding: 60px 0;
}
.we img{
  border: 3px solid #feeae2;
  height: 100%;
  width: 77%;
  z-index: 10;
  position: relative;
  margin-top: 40px;
}
.we_item{
  padding: 0 10%;
}
.bg_photo{
  position: absolute;
  z-index: 0;
  background-color: #c2a7a1;
  width: 270px;
  height: 200px;
}

.my_photo{
  height: 250px;
  width: 250px;
  border: 1px, solid, black;
}
.her_photo{
  height: 250px;
  width: 250px;

}
.aboutus_content ul li{

}
.timer{
  background-color: #323131;
  background-image: url('../img/arrow.png');
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: top right;
}
.days_count{
  padding: 100px 0 60px;
  text-align: center;
}
.days_count h3{
    color: #feeae2;
}
.our_story{
  text-align: center;
  background-color: #c2a7a1;
}
.our_story h3{

}
.our_story-content{
  padding: 5% 0;
  margin: 0 20%;
  text-align: center;
}
.our_story-content h3{
  padding-bottom: 40px;
}
.our_story-content ul{
  margin: ;
  text-align: left;
  list-style-type: none;
}
.our_story-content li{
  padding-bottom: 10px;
}
.importent{
  line-height: 4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 50px 0;
  background-color: #323131;
  color: #feeae2;
  text-align: center;
  font-family: 'Amatic SC';
}
.importent h1{
  font-weight: 600;
}
.importent h1,h2,h3{
  color: #feeae2;
  font-family: 'Amatic SC';
}
.importent ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}
.importent li{
  list-style-type: none;
  height: 120px;
  width: 120px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.importent li:nth-child(1){
  background-color: #feeae2;
}
.importent li:nth-child(2){
  background-color: #c2a7a1;
}
.importent li:nth-child(3){
  background-color: #323131;
}
.importent li:nth-child(4){
  background-color: #7b8988;
}
.importent li:nth-child(5){
  background-color: #2f6061;
}
.importent .line{
  margin: 30px 0;
}
.where{
  text-align: center;
  padding-bottom: 50px;
}
.where h3{
  padding: 40px;
}
.where p{
  padding: 0;
}
.registration{
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0.7);
  padding-top: 5%;
}
.registration_form{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.registration_form .xbtn{
  width: 480px;
  text-align: right;
  /* font-family: Arial;
  position: absolute;
  top: 8px;
  padding: 12px 20px;
  border-radius: 50%;
  border: 0px solid #000;
  text-decoration: none;
  background-color: #323131; */
}
.xbtn a{
  font-family: Arial;
  position: absolute;
  top: 0;
  padding: 12px 20px;
  border-radius: 50%;
  border: 0px solid #000;
  text-decoration: none;
  background-color: red;
  color: #fff
}
.xbtn a:hover{
  text-decoration: none;
  color: #000000;
}
