@media (max-width: 500px) {
  
      body{
        max-width: 500px;

      }
      .modal_overflow{
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: fixed;
      }
      body header{
        position: absolute;
        margin-top: 10px;
      }
      header ul{
        flex-direction: column;
      }
      header .burger{
        left: 0;
        display: block;
        position: absolute;
      }
      header .navpanel{
        position: absolute;
        padding: 0;
        margin-top: 60px;
        left: 0;
        display: none;

      }
      header .btn{
        margin: 5px 25%;
      }
      body .main{
        align-items: flex-start;
        padding-top: 70%;
        -webkit-background-size: 70%;
        background-size: 70%;
        background-position: 0% 85%;
      }
      body .main_content{
        padding: 0;
      }
      body .main_content .main_wrapper{
        padding: 10px 60px;
      }
      .main_content .main_wrapper h1{
        margin: 0 0 20px 0;
        
        font-size: 60px;

        font-weight: 300;
        color: #feeae2;
      }
      .main_content .main_wrapper h2{
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 30px;
      }
      .main_content .main_wrapper h3{
        font-family: 'Amatic SC';
          color: rgba(254, 234, 226, 0.8);
        font-weight: 500;
        font-size: 25px;
        padding-top: 20px;
      }
      .main_content .main_wrapper p{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 30px;
        font-weight: light;
      }
      body .timer{
        background-size: 55%;
      }
      body #CDT{
        font-size: 20px;
       ;
      }
      body #CDT .number-wrapper{
        margin: 20px;
        width: 15%;
      }
      body #CDT .caption{
        font-size: 15px;
      }
      body #CDT .number{
        display: -webkit-inline-flex;
              display: -moz-inline-flex;
              display: -ms-inline-flex;
              display: -o-inline-flex;
              display: inline-flex;      }
      body .we img{
      
      
      z-index: 10;
      position: relative;
      margin-top: 20px;
    }
    body .we .we_item{
      padding: 0 10px;
    }
    body .we .we_item .my_photo{
      height: 160px;
      width: 160px;
      
    }
    body .we .we_item .her_photo{
      height: 160px;
      width: 160px;

    }
    body .bg_photo{
      position: absolute;
      z-index: 0;
      background-color: #c2a7a1;
      width: 165px;
      height: 110px;
      margin-left: 0;
    }
    body .where-content{
      flex-direction: column;
      justify-content: center;
      -ms-align-items: center;
      align-items: center;
    }
    body .where-content_text{
      width: 100%;
      font-size: 25px;
      text-align: center;
    }
    body .where_card{
      text-align: center;
      border: none;
      width: 100%;
    }
     body .where iframe{
        width: 300px;
        height: 150px;
        border:none;
      }

    body .our_story-content{
      margin: 0;
    }
    body .our_story-content ul{
      padding: 0;
      margin-left: 35px;
    }
    body .our_story-content li{
      padding: 5px 0;
      height: 90px;
    }
    body .our_story-content li h3{
      padding-left: 20px;
    }
    body .our_story-content .list-marker{
      font-size: 60px;
      line-height: normal;
    }
    body .our_story-content h3{
      font-size: 20px;
    }

    body .importent .importent_content h2{
      font-size: 22px;
    }
    body .importent .importent_content h3{
      font-size: 22px;
    }
    body .importent .importent_content h1{
      font-size: 35px;
    }
    body .importent li {
      width: 60px;
      height: 60px;
    }
    body .importent .line{
      display: none;
    }
    body .registration_form iframe{
      overflow-y: auto;
     -webkit-overflow-scrolling:touch;
      width: 350px;


    }
    body .registration_form .xbtn{
      
    }
}





body{
  padding: 0;
  margin: 0;
  /* height: 2000px; */
  background-color: #feeae2;
  font-family: 'Oswald', sans-serif;
  overflow-y: scroll;
}
h1{
  margin: 0;
  padding: 0;
}
p,h2,h3{
  color: #323131;
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  position: absolute;
  padding-top: 20px;
  z-index: 5;
}

.menu_wrapper{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}
header ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  align-items: center;
  width: 80%;
}
header li{
  list-style-type: none;
}
.burger{
    display: none;
}
.btn{
  position: relative;
  display: inline-block;
}
.btn a{
  padding: 12px 37px;
  background-color: #2f6061;
  color: #feeae2;
}
.btn a:hover{
  // h-length, v-length, blur, spread, colour
  box-shadow: 0 3px 15px 1px rgba(0, 0, 0, .5);
}
header li a{
  color: #2f6061;
  text-decoration: none;
}
header li a:hover{
  color: #323131;
  text-decoration: none;
  text-shadow: 0 1px 2px #3c3c3c;
}


/*.btn-tomain{
  position: fixed;
  padding: 12px 37px;
  background-color: #2f6061;
  color: #feeae2;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.show{
  opacity: 1;*/
}
.row{
  margin: 0;
}
.main{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url(../img/bird.png);
  background-size: 55%;
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.line{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

}
.line1{
  width: 50%;
  height: 70px;
  border-right: 1px solid #feeae2;
}
.line2{
  width: 50%;
  height: 70px;
  border-left: 1px solid #feeae2;
}
.main_content{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  color: #fff;
}
.main_content .main_wrapper{
    background-color: rgba(50,49,49,0.7);
    display: inline-block;
    width: 75 %;  
    padding: 10% 20%;
}

.main_content h2{
  color: #feeae2;
}
.main_content p{
  color: #feeae2;
}
.main_content h1{
  margin: 0 0 20px 0;
  padding: 0;
  font-family: 'Amatic SC';
  font-size: 110px;

  font-weight: 300;
  color: #feeae2;
}
.main_content h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 40px;
}
.main_content h3{
  font-family: 'Amatic SC';
    color: rgba(254, 234, 226, 0.8);
  font-weight: 500;
  font-size: 30px;
  padding-top: 20px;
}
.main_content p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: light;
}
#CDT {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    font-size: 50px;
      color: #feeae2;
    margin: 20px 20px;
    font-weight: bold;
}

#CDT .number-wrapper {
    margin: 15px;
    /* -moz-box-shadow: 0 5px 8px #000000;
    -webkit-box-shadow: 0 5px 8px #000000;
    box-shadow: 0 5px 8px #000000; */
    position: relative;
    width: 9%;
}
#CDT .caption{
  font-size: 20px;
}
#CDT .number {
    color: #fff;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #fff;
    background-image: linear-gradient(bottom, #fff 2%, #323131 50%, #fff 100%);
    background-image: -o-linear-gradient(bottom, #fff 2%, #323131 50%, #fff 100%);
    background-image: -moz-linear-gradient(bottom, #fff 2%, #323131 50%, #fff 100%);
    background-image: -webkit-linear-gradient(bottom, #fff 2%, #323131 50%, #fff 100%);
    background-image: -ms-linear-gradient(bottom, #fff 2%, #323131 50%, #fff 100%);
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 20px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    -moz-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -moz-text-shadow: 0 3px 3px #000000;
    -webkit-text-shadow: 0 3px 3px #000000;
    text-shadow: 0 3px 3px #000000;
}

/* #CDT .line {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 52%;
    left: 0;
    background: #000;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2); */

.aboutus{
  color: #2f6061;
  position: relative;
  display: block;
  background-color: #feeae2;
  -webkit-background-size: 50%;
  background-size: 50%;
  background-repeat: repeat;

}
.about{
  padding: 0;
  background-color: rgba(0,0,0,0.5);
}
.aboutus_content{

  width: 100%;
  text-align: center;
}
.aboutus_content ul{
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  font-size: 25px;
  text-align: center;
}
.aboutus_content h3{
  color: #2f6061;
  padding: 60px 0;
}
.we img{
  border: 3px solid #feeae2;
  height: 100%;
  width: 77%;
  z-index: 10;
  position: relative;
  margin-top: 40px;
}
.we_item{
  padding: 0 10%;
}
.bg_photo{
  position: absolute;
  z-index: 0;
  background-color: #c2a7a1;
  width: 270px;
  height: 200px;
}

.my_photo{
  height: 250px;
  width: 250px;
  border: 1px, solid, black;
}
.her_photo{
  height: 250px;
  width: 250px;

}
.aboutus_content ul li{

}
.timer{
  background-color: #323131;
  background-image: url('../img/arrow.png');
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: top right;
;
}
.days_count{
  padding: 100px 0 60px;
  text-align: center;
}
.days_count h3{
    color: #feeae2;
}
.our_story{
  text-align: center;
  background-color: #c2a7a1;
}
.our_story h3{

}
.our_story-content{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 5% 0;
  margin: 0 ;
  text-align: center;
  justify-content: center;
  margin-left: 25%
}
.our_story-content .list-marker{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courgette', cursive;
  color: #323131;
  font-size: 100px;
  width: 15%;
  text-align: center;
  padding: auto;
  height: 90px;
    
}
.our_story-content p{
  text-align: left;
}

.our_story-content h3{
  display: block;
  color: #323131;
  padding-bottom: 40px;
  width: 85%;
  
  padding-bottom: 0;
  font-size: 40px;
}
.our_story-content ul{
  
  text-align: left;
  list-style-type: none;
}
.our_story-content li{
  padding-bottom: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.our_story-content li:nth-child(4){
  padding:30px 0;
}

.importent{
  line-height: 4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 50px 0;
  background-color: #323131;
  color: #feeae2;
  text-align: center;
  font-family: 'Amatic SC';
}
.fa-vk{
  padding: 6px 4px 6px 6px;
  border: 1px solid #feeae2;
  border-radius: 5px;
  color: #feeae2;
}
.importent p{
  color: #feeae2;
  font-size: 20px;
  line-height: 40px;
}
.importent h1{
  font-weight: 600;
}
.importent h3{
  padding-bottom: 20px;
}
.importent h1,h2,h3{
  color: #feeae2;
  font-family: 'Amatic SC';
}
.importent ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}
.importent li{
  list-style-type: none;
  height: 120px;
  width: 120px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.importent li:nth-child(1){
  background-color: #feeae2;
}
.importent li:nth-child(2){
  background-color: #c2a7a1;
}
.importent li:nth-child(3){
  background-color: #323131;
}
.importent li:nth-child(4){
  background-color: #7b8988;
}
.importent li:nth-child(5){
  background-color: #2f6061;
}
.importent .line{
  margin: 30px 0;
}
.importent b{
  font-size: 25px;
  
}
.where{
  text-align: center;
  padding-bottom: 50px;
}
.where h3{
  color: #323131;
  padding: 40px;
}
.where p{
  padding: 0;
}
 .where-content{
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .where-content_text{

  text-align: right;
   font-family: 'Amatic SC';
  width: 50%;
  font-size: 30px;
  padding-right: 30px;
 }
 .where_card{
  padding-left: 10px;
  border-left: 1px solid #323131;
  width: 50%;
 }
 .where a{
   padding: 12px 37px;
  background-color: #2f6061;
  color: #feeae2;
  margin-top: 15px;
 }
 .where-content iframe{
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
 }
 .where-content{
  margin-bottom: 20px;
 }
.registration_form{
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  padding: 0;
  margin: 0;
  z-index: 15;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
  padding-top: 10px;
}
.open {
  display: block !important;
  overflow-y: scroll !important;
  
}
.block {
  overflow: hidden !important;
}
.registration_form .xbtn{
  
}
.xbtn{
  top: 5px;
  width: 100%;
  position: static;
  text-align: center;
  z-index: 20;
}
.xbtn a{
  font-family: Arial;
  /*position: fixed;
  top: 5px;*/
  
  padding: 12px 40px;
  border-radius: 0;
  border: 0px solid #000;
  text-decoration: none;
  background-color: red;
  color: #fff
}
.xbtn a:hover{
  text-decoration: none;
  color: #000000;
}

